@import "tailwindcss";

@theme {
  /* Kinetic Enterprise Color Palette */
  --color-background: #f9f9ff;
  --color-on-background: #151c27;

  --color-surface: #f9f9ff;
  --color-surface-dim: #d3daea;
  --color-surface-bright: #f9f9ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #ffffff;
  --color-surface-container: #f9f9ff;
  --color-surface-container-high: #f0f3ff;
  --color-surface-container-highest: #e7eefe;
  --color-on-surface: #000000;
  --color-on-surface-variant: #000000;
  --color-surface-variant: #f0f3ff;

  --color-primary: #004ac6;
  --color-on-primary: #ffffff;
  --color-primary-container: #2563eb;
  --color-on-primary-container: #eeefff;

  --color-secondary: #4b41e1;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #645efb;
  --color-on-secondary-container: #fffbff;

  --color-tertiary: #006329;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #007f36;
  --color-on-tertiary-container: #c7ffca;

  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --color-outline: #737686;
  --color-outline-variant: #c3c6d7;

  --font-sans: var(--font-inter);
}

:root {
  --background: #f9f9ff;
  --foreground: #151c27;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c3c6d7;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #737686;
}